# Python
.venv/
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Ignore generated/raw data contents
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep